.why-choose-us {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.why-choose-us h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.why-choose-us p {
    margin-bottom: 20px;
}

.services {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.services h2 {
    margin-bottom: 20px;
}

.service {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.service h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.service p {
    margin-bottom: 20px;
}